<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <title> <%= userid %>'s Wallet</title>
</head>

<body>
  <div class="container">
    <header>
      <h2><%= userid %>'s Wallet</h2>
    </header>

    <section class="content">
      <nav>
        <img class="logo" src="images/ether_logo.png">
      </nav>
      <main class="mainPage">

        <!-- 서버선택 -->
          <div class="btn-group" style="float: right; margin: 5px 5px 0 0" >
              <button type="button" id="Server" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false" style="width: 100%;  margin-right: 20px; padding-right: 5px;">
                  <%- network -%> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="menu-hide" role="menu" style="border: 0;">
                  <li><button class="btn btn-info" onClick="web3server(this.id)" style="width: 103.73px; margin-bottom: 1px;"
                          id="MainNet">MainNet</button></li>
                  <li><button class="btn btn-info" onClick="web3server(this.id)" style="width: 103.73px; margin-bottom: 1px;"
                          id="Ropsten">Ropsten</button></li>
                  <li><button class="btn btn-info" onClick="web3server(this.id)" style="width: 103.73px; margin-bottom: 1px;"
                          id="Rinkeby">Rinkeby</button></li>
                  <li><button class="btn btn-info" onClick="web3server(this.id)" style="width: 103.73px; margin-bottom: 1px;"
                          id="Kovan">Kovan</button></li>
                  <li><button class="btn btn-info" onClick="web3server(this.id)" style="width: 103.73px; margin-bottom: 1px;"
                          id="Goerli">Goerli</button></li>
              </ul>
          </div>

        <div class="context" style="height: 24rem;">
          <div class="item2" id="text">Address </div>
          <div class="item2 address" id="text1"><%= public_key %></div>
          <div style="padding-bottom: 15px;"><button id='copy'>Copy</button></div>
          <div class="item2" id="text">Balance</div>
          <div class="item2" id="text1"> <%= balance %> ETH </div>
          <div id="text1">
            <button type="button" id="btn1">Faucet(입금)</button>
            <button type="button" id="btn2">출 금</button>
          </div>
          <div id="text"> History</div>
          <div id="text1">
            <ul id="txns">
              <% for(let i = 0; i< 7; i++){%>
              <li><a href="https://ropsten.etherscan.io/tx/<%=list[i] %>"><%= list[i] %></a></li>
              <%}%>
            </ul>
      
          </div>

        </div>

      </main>
    </section>

    <footer>
        <button type="button" id="btn3">개인키 내보내기</button>
      <button type="button" id="btn4">로그아웃</button>
      
    </footer>

    <script>
      $('#copy').click(function () {
        let address = $('.address').text()
        copyToClipboard(address)
      })

      $('#btn2').click(function () {
        window.location.href = '/send'
      })
      $('#btn3').click(function () {
        window.location.href = '/privatekey/export'
      })
      $('#Server').click(function () {
        console.log($('.dropdown-menu').attr('id'))
        if( $('.dropdown-menu').attr('id') === 'menu-hide'){
          $('.dropdown-menu').removeAttr('id')
        } else {
          $('.dropdown-menu').attr('id', 'menu-hide');
        }
      
    })

      $(document).ready(() => {
        $('#btn4').click(function () {
          $.ajax({
            url: '/main/destroy',
            success: () => {
              window.location.href = '/'
            }
          })
        })
      })

      $(document).ready(() => {
        $('#btn1').click(function () {
          let address = $('.address').text()
          $.ajax({
            url: 'https://faucet.metamask.io',
            type: 'post',
            data: address,
            success: (txHash, body, { status }) => {
              // 서버로 저장되는 코드
                 $.ajax({
                url: '/main/txdb',
                type: 'post',
                data: { txHash: JSON.stringify(txHash) }
              })
            },
            error: ({ status }) => {
              const statusMsg = {
                "429": () => alert('Too many request'),
                "500": () => alert('Fauset ServerError'),
              }
              let msg = statusMsg[`${status}`]

              if (msg) msg()
            }
          })
        })
      })

      function copyToClipboard(val) {
        var t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = val;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
      }

      // 서버선택
      function web3server(network) {
            const passData = {
                network: network,
            }
            $.ajax({
                type: 'POST',
                url: '/main/changeNetwork',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(passData),
                success: function (result, body, { status }) {
                    //$('.block').addClass('hide')
                    // $('.changeBlock').removeClass('hide')
                    // $('')
                    // $('#block').html(result)
                    location.reload()

                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                complete: function () {

                }
            })
        }
        

    </script>

  </div>

</body>

</html>